body {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin: 20px;
  background-image: url('./colorful.jpg');
}

header,
nav,
main,
aside,
footer,
details,
figure,
mark,
time {
  border: 1px solid #ccc;
  padding: 10px;
}

header h1 {
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

nav li {
  text-align: center;
}

nav a {
  text-decoration: none;
}

article,
section {
  background-color: #f0f0f0;
}

figure {
  text-align: center;
}

footer {
  text-align: center;
}

@media (min-width: 768px) {
  body {
    grid-template-columns: repeat(2, 1fr);
  }
}
